header{
    position: sticky;
    top: 10px;
}

.navbar{
    background-color: rgb(96, 209, 243);
}
.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 10px;
}

.navbar a{
    padding: auto;
    text-decoration: none;
    color: #000000;

}

.navbar a:hover {
    background-color: #ddd;
    color: red;
}

.navbar a:active{
    background-color: black;
    color: crimson;
}

span{
    visibility: visible;
}