*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.maindiv{
    padding-top : 20px;
    display: flex;
    flex-direction: column;
    border: 5px solid gray;
    background-image: url('https://images.unsplash.com/photo-1629150028398-7639d1703c62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80');
}

@media(max-width:310px){
    h4{
        font-size: 12px;
    }

}

.heading{
    padding: 10px;
    border: 5px solid red;
    text-decoration: underline red 3px;
    color: white;
}

.all{
    padding:10px;
    color: white;
    border: 3px solid cadetblue;
    margin: 10px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 10px;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) } 
}

.fatherofall{
    margin-top: 20px;
}

a{
    color: white;
}